<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8" style="margin-top: 20px">
      <h1 class="text-center">Editing Book</h1>

      <div style="margin-top:20px">
        <%= render 'form', book: @book %>
      </div>

      <%= link_to 'Show', @book %>
    </div>
  </div>
</div>
  
  
